<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    
  
    <header>
      <nav id="navbar"><div>
        <h1 class="head-title">Galpões & Estoque</h1>
        <span>
          <%= link_to 'Home', root_path, class:"nav-button"%>
          <%= link_to 'Fornecedores', suppliers_path, class:"nav-button"%>
          <%= link_to 'Modelos de produtos', product_models_path, class:"nav-button"%>
        </span>
    </div></nav>
    <header>
    <% if notice %>  
      <div class="notice">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= notice %>
      </div>
    <% end %>
    <%if alert%>
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
