<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header>
      <nav id="navbar">
        <div>
          <h1 class="head-title">Galpões & Estoque</h1>
          <span>
            <div>
              <%= link_to 'Home', root_path, class:"nav-button"%>
              <%= link_to 'Fornecedores', suppliers_path, class:"nav-button"%>
              <%= link_to 'Modelos de produtos', product_models_path, class:"nav-button"%>
              <%= link_to 'Registrar pedido', new_order_path, class:"nav-button"%>
            </div>
            <div>
              <% if user_signed_in?%>
                <strong>Usuário:</strong> <%= current_user.description %>
                <%= button_to 'Sair', destroy_user_session_path, method: :delete, class:"nav-button" %>
              <% else %>
                <%= button_to 'Entrar', new_user_session_path, method: :get, class:"nav-button"%>  
              <% end %>
            </div>
        </span>
      </div>
    </nav>
    <header>
    <% if notice %>  
      <div class="notice">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= notice %>
      </div>
    <% end %>
    <%if alert %>
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
